/* General styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#title{
  color: #218838;
  text-shadow:#ffc107;
  text-align: center;
}
h1, h2 {
  color: #333;
  text-align: start;
  margin-left: 20px;
}

/* Main container */
.container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 600px;
  width: 100%;
  text-align: center;
}

/* Inputs and Buttons */
input[type="text"] {
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 80%;
}

button {
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #218838;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Audio player */
audio {
  width: 100%;
  margin: 10px 0;
}

/* Visualization canvas */
canvas {
  margin: 20px auto;
  display: block;
  border: 1px solid #ccc;
}

/* Incoming call alert */
.call-alert {
  background-color: #ffc107;
  color: #333;
  padding: 15px;
  border-radius: 4px;
  margin-bottom: 20px;
}
